/* CSS FIX */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/* END Reset */

/* Main stuff */

body {
    background: #FFF;
    color: #333;
    
	font-family: verdana, arial, sans-serif;
    font-size: 10pt;
}

p {
    padding: 5px 0 10px 0;
	line-height: 13pt;
}

a {
    text-decoration: none;
    color: #78AA00;
}

a:hover {
	text-decoration: underline;
}

/* Containers */

#wrapper {
    width: 650px;
    margin: 20px auto;
	padding: 15px;
}

#content {
    padding: 10px 15px 0px 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

/* H1, H2 and H3 */

h1 {
    color: #46B4C1;
    font-size: 400%;
	font-weight: 700;
}

h2 {
    color: #84C5C6;
    font-size: 220%;
}

h3 {
   color: #84C5C6;
   font-size: 200%;
   font-weight: 700;
   margin: 0 0 10px 0;
}

/* Lists */

ul li {
	margin-left: 50px;
	list-style: disc;
}

ul ul li {
	list-style: circle;
	margin-left: 35px;
}

/* Hr */

hr {
    background: #333;
    border: 0;
    height: 1px;
    margin: 0;
}

/* Small classes */

.weight {
	font-weight: 700;
}

.hidden {
	display: none;
}

.clear {
	clear:both;
}

.center {
    margin: 0 auto;
}

.round {
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.indent {
	margin-left: 35px;
}

/* Colors */

.blue {
    color: #46B4C1;
}

.green {
	color: #88AA00;
}

.white {
	color: #FFF;
}

.light-blue {
	color: #84C5C6; 
}

.light-green {
	color: #D2EC8A;
}

/* Messages, errors etc */

.msg {
	background-color: #D2EC8A;
	padding: 15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 10px;
}
