html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
 ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

/* END Reset */

body {
    background: #333;
    color: #fff;
    
	font-family: verdana, arial, sans-serif;
    font-size: 10pt;
}

p {
    padding: 5px 0 10px 0;
}

a {
    -moz-opacity:0.4;
    filter:alpha(opacity: 0.4);
    opacity: 0.4;
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #E82960;
}

/* Splits */

.split-left {
    float: left;
    width: 310px;
}

.split-right {
    float: right;
    width: 300px;
    padding: 0 5px 0 5px;
}

/* Split -2 a smaller right column */

.split-left-two {
    float: left;
    width: 400px;
}

.split-right-two {
    float: right;
    width: 210px;
    padding: 0 5px 0 5px;
}

/* Containers */

#wrapper {
    width: 650px;
    margin: 50px auto;
}

#container {
    padding: 10px 15px 15px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

/* H1, H2 and H3 */

h1 {
    color: #E82960;
    font-size: 300%;
	font-weight:700;
}

h2 {
    color: #CAE847;
    font-size: 220%;
}

h3 {
   color: #01B0F0;
   font-size: 150%;
}

/* Navigation */
#nav ul {
    list-style: none;
    padding: 0;
    margin: 0
}

#nav li {
    float: left;
    margin: 0 10px 0 0;
    opacity: 0.4;
} 

#nav li.current {
    color: #AEEE00;
    opacity: 1;
}

#nav li:hover {
    color: #FF358B;
    cursor: pointer;
}

.file-list li a{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    -moz-opacity:0.7;
    filter:alpha(opacity: 0.7);
    opacity: 0.7;
}

.file-list img {
    margin-right: 3px;
}

/* Hr */

hr {
    background: #fff;
    border: 0;
    height: 1px;
    margin: 0;
}

/* Validation classes */

input.valid {
	color: #AEEE00;
	border: 1px solid;
}

label.error {
	color: #D8000C;
	display: inline;
	padding-left: 10px;
}

label.valid {
	display: inline;
}

/* Small classes */

.hidden {
	display: none;
}

.clear {
	clear:both;	
}

.center {
    margin: 0 auto;
}

.round {
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* Colors */

.green {
    color: #AEEE00;
}

.pink {
	color: #FF358B;
}

.blue {
	color: #01B0F0;
}

.red {
	color: #ff484e;
}

.orange {
	color: #fe8005;
}

.yellow {
	color: #fed009;
}

/* Input */

input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #333;
}

.lil-text {
    border: 1px solid #E82960;
    padding: 2px 0 2px 5px;
    color: #FFF;
    width: 180px;
}

.text {
    border: 1px solid #E82960;
    padding: 2px 0 2px 5px;
    color: #FFF;
    width: 242px;
}

input {
    padding: 2px 2px 2px 2px;
    color: #FFF;
}

.submit {
    padding: 2px 2px 2px 2px;
    color: #FFF;  
}

textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #333;
    border: 1px solid #01B0F0;
    padding: 2px 2px 2px 2px;
    color: #FFF;
    margin: 5px 0 5px 0;
    font-size: 10pt;
    color: #fff;
}

.file {
    position: relative;
    -moz-opacity:0;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    left: -160px;
}

.upload {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin: 5px 0 5px 0;
}

.button {
    background: #333;
    border: 1px solid #01B0F0;
    padding: 2px 2px 2px 2px;
    color: #FFF;  
}

.radio {
    background-color: #333;
    border: 1px solid #01B0F0;
}

.checkbox {
    background-color: #333;
    border: 1px solid #01B0F0;
}

/* Label */

label {
    display:block;
    margin: 5px 0 2px 0;
}

/* Info boxes */

.m_info, .m_success, .m_warning, .m_error, .m_validation {
  padding:8px 8px 8px 32px;
  background-repeat: no-repeat;
  background-position: 8px center;
	margin-bottom: 5px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.m_info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('http://slimpl.com/images/icons/exclamation.png');
}

.m_info a{
  color: #00529B;
}

.m_success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('http://slimpl.com/images/icons/accept.png');
}

.m_success a{
  color: #4F8A10;
}

.m_warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('http://slimpl.com/images/icons/exclamation_octagon_frame.png');
}

.m_warning a{
  color: #9F6000;
}

.m_error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('http://slimpl.com/images/icons/error.png');
}

.m_error a{
  	color: #D8000C;
}

input.error {
	color: #D8000C;
	border: 1px solid;
}

/* Progress bar */

div#progressbar {
  width: 100%; 
  margin: 5px 0 5px 0; 
  padding: 1px;
}

div#progressbar > div {
  background-color: #AEEE00; 
  height: 8px;
  cursor: pointer;
  -webkit-border-top-right-radius: 5px;
 -moz-border-radius-topright: 5px;
  -webkit-border-bottom-right-radius: 5px;
 -moz-border-radius-bottomright: 5px;
}

/* Progress */
#progress-todo-container {
    margin-left: 50px;
    margin-bottom: 10px;
}

#progress-todo-list {
    cursor: pointer;
}

#progress-todo-list li:hover {
    color: #FF358B;
}

/* Notes */
.signature {
	top: 0;
	font-size: 9pt;
    -moz-opacity:0.4;
    filter:alpha(opacity: 0.4);
    opacity: 0.4;
    font-style: italic;
}

.note p {
	margin-bottom: 5px;
	padding-bottom: 0;
}

.note {
	margin-bottom: 10px;
}

.note > .file-list a {
	margin-bottom: 5px;
}

.note > .options {
	position: relative;
	margin-left: 100px;
	float: right;
	margin-top: 10px;
	cursor: pointer;
	margin-right: 10px;
}

/* Tiny menu */

#tiny-menu li {
	float: left;
	padding-right: 10px;
}

/* Add Note */

#add-note {
}

/* Lightbox stuff */
br.both{
	clear:both;
}

#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#333;
	border:1px solid #cecece;
	z-index:1;
}
#popupContact{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:384px;
	width:408px;
	background:#333;
	border: 1px solid #fff;
	z-index:2;
	padding:12px;
	font-size:13px;
}
#popupContact h2{
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}
#popupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#FF358B;
	font-weight:700;
	display:block;
	cursor: pointer;
}
#button{
	text-align:center;
	margin:100px;
}

/* List styling */

.indent {
	margin-left: 20px;
}

/* Uploading */

#new-files {
	margin-bottom: 10px;
}

/* Project Table */

#project-list td {
	padding-right: 20px;
}

.delete-project:hover  {
	cursor: pointer;
}
