# Sometimes you'll need to edit this to your own timezone
# php_value date.timezone Europe/Copenhagen

# If you'd like compression, uncomment below
# php_flag zlib.output_compression on
# php_value zlib.output_compression_level 5

# Security
php_flag expose_php Off
ServerSignature Off

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^(.*)$ index.php?url=$1 [PT,L]
</IfModule>
